<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Error</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/mdi/css/materialdesignicons.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css}">
<!-- endinject -->
<!-- inject:css -->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<div class="http-error">
		<div class="container">
			<h1 class="text-warning text-center">Opp! Something went wrong</h1>
			<a class="btn btn-primary text-center" href="/">Home page</a>
		</div>
	</div>
</body>
</html>